.contents{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.contents > li{
    cursor: pointer;
    width: auto;
    height: 100px;
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
    text-align: center;
    line-height: 60px;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 50px;
    padding: 20px;
}

.contents > li:hover{
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

#readme{
    width: 100%;
    height: auto;
    min-height: 100px;
    border-radius: 20px;
    background-color: white;
    margin-bottom: 50px;
    border: 25px solid white;
    box-sizing: border-box;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
    position: relative;
}

#readme pre::-webkit-scrollbar{ 
    width: 6px; 
}

#readme pre::-webkit-scrollbar-thumb{ 
    height: 17%; 
    background-color: rgba(255,255,255,1);
    border-radius: 10px; 
}


#readme:hover{
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

#readme::before{
    content: 'Read Me';
    position: absolute;
    top: 0;
    left: 0;
}

#readme pre{
    margin-top: 50px;
    display: none;
    font-size: 20px;
    max-height: 500px;
    overflow-y: scroll;
}


@media screen and (max-width: 1280px){
    .contents > li{
        width: 100%;
        height: 150px;
        line-height: 150px;
        font-size: 20px;
    }
    .container h1{
        text-align: center;
    }
    #readme{
        min-height: 150px;
    }
}